<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Kyle and Tristan's Fat Ergo Emporium!</h1>
  
  <p><a href="another">Go to the other page</a></p>

  <form name = formy  method="POST" action="/piece">
	<p>See Piece corresponding to Date:</p>
	<select name = "dates">
		{% for n in dates2 %}
			<option value="{{n}}">{{n}}</option>
		{% endfor %}
		<option value="all">All pieces</option>
	</select>

	<button type="submit">See Piece!</button>
  </form>

  <form name = formy2  method="POST" action="/teammembers">
        <p>See Academic Team Data by School:</p>
        <select name = "school">
                {% for n in schools %}
                        <option value="{{n}}">{{n}}</option>
                {% endfor %}
		<option value = "all">All Schools</option>
        </select>

        <button type="submit">See Academics!</button>
  </form>

  <form name = formy  method="POST" action="/winners">
        <p>See Piece Winners by Date:</p>
        <select name = "winners">
                {% for n in dates2 %}
                        <option value="{{n}}">{{n}}</option>
                {% endfor %}
                <option value="all">All winners</option>
        </select>

        <button type="submit">See Wins!</button>
  </form>

</body>


</html>
