<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
    th{
      text-align: left;
      display: block;
    }
    td{
      display: block;
    }
    tr{
      display: block;
      float: left;
    }
  </style>


<body>
  <h1>Pieces by Piece ID</h1>
 
  <table border="1">
    <tr>
      <th>Piece ID:</th>
      {% for n in data[0] %}
      <th>{{n}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>Date:</td>
      {% for n in data[1] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Distance:</td>
      {% for n in data[2] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Reps:</td>
      {% for n in data[3] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Rest:</td>
      {% for n in data[4] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
  </table>

<p><a href="/">Go back to the homepage</a></p>

</body>


</html>

