<html>
  <style>
    body{
      font-size: 15pt;
      font-family: Times;
    }
    th{
      text-align: left;
      display: block;
    }
    td{
      display: block;
    }
    tr{
      display: block;
      float: left;
    }
  </style>


<body>
  <h1>Winners by Date</h1>
  <div>{{data}}</div>

  <table border="1">
    <tr>
      <th>Rower Name:</th>
      {% for n in data[0] %}
      <th>{{n}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>Grad Year:</td>
      {% for n in data[1] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>UNI:</td>
      {% for n in data[2] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>ZipCode:</td>
      {% for n in data[3] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>HS Team:</td>
      {% for n in data[4] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>IsClub:</td>
      {% for n in data[5] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>IsRecruit:</td>
      {% for n in data[6] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>College Team:</td>
      {% for n in data[7] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>GPA:</td>
      {% for n in data[8] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Major:</td>
      {% for n in data[9] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>School:</td>
      {% for n in data[10] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Average Rank:</td>
      {% for n in data[11] %}
      <td>{{n}}</td>
    </tr>
  </table>

<p><a href="/">Go back to the homepage</a></p>

</body>
</html>
