<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
    th{
      text-align: left;
      display: block;
    }
    td{
      display: block;
    }
    tr{
      display: block;
      float: left;
    }
  </style>

<body>
  <h1>Rower Academic Info By School</h1>
 
  <table border="1">
    <tr>
      <th>UNI:</td>
      {% for n in data[0] %}
      <th>{{n}}</th>
      {% endfor %}
    </tr>
    <tr>
      <td>School:</td>
      {% for n in data[1] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>Major:</td>
      {% for n in data[2] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
    <tr>
      <td>GPA:</td>
      {% for n in data[3] %}
      <td>{{n}}</td>
      {% endfor %}
    </tr>
  </table>

<p><a href="/">Go back to the homepage</a></p>

</body>


</html>
